{% extends '::base.html.twig' %}

{% block title %}AppBundle:Institutions:index{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            {% for picture in pictures %}
                <div class="col-xs-6 col-md-4">

                    <a href="{{ path('app_picture_showpicture', {id: picture.id}) }}">
                        <img width="250px" height="200px" src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ picture.picture }}"/><br>
                    </a>
                    <br>
                    <p><b class="caption">Caption: {{ picture.caption }}</b></p>



                    <a href="{{ path('app_picture_profile', {id:  picture.user.id}) }}">By {{ picture.user.username }}</a>
                    <hr>
                </div>
            {% else %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
